search-item {
      margin: 2px;
}

.sidenav {
  width: 250px;
  position: fixed;
  top: 80px;
  left: 10px;
  z-index: 1000;
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

body,
    .multilevel-dropdown-menu {
        -webkit-text-size-adjust: 100%;
    }

    .parent {
        display: block;
        position: relative;
        /*float: left;*/
        line-height: 40px;
        background-color: #b8deff;
        border-right: #CCC 1px solid;
        z-index: 2;

    }

    .parent a {
        margin: 10px 24px;
        color: #5d3200;
        text-decoration: none;
    }

    .parent:hover>ul {
        display: block;
        position: absolute;
    }

    .child {
        display: none;
        position: absolute;
        top: 0;
        left: 110px;
        height: 180px;
        float: left;
        z-index: 2;
        width: 360px;

    }

    .child li {
        background-color: #E4EFF7;
        line-height: 40px;
        border-bottom: #b5b5b5 1px solid;
        border-right: #b5b5b5 1px solid;
        width: 100%;
    }

    .child li a {
        color: #000000;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0px;
        min-width: 12em;
    }

    ul ul ul {
        left: 100%;
        top: 0;
        margin-left: 1px;
    }

    li:hover {
        background-color: #95B4CA;
    }

    .parent li:hover {
        background-color: #F0F0F0;
    }

    .expand {
        font-size: 12px;
        float: right;
        margin-right: 5px;
    }



